.SkillsSection-input
  input
    width 80% !important
    border-right 0 !important
    border-top-right-radius 0
    border-bottom-right-radius 0
  button
    width 20%
    border-top-left-radius 0
    border-bottom-left-radius 0

.SkillsSection-skills
  display grid
  grid-template-columns 1fr 1fr
  grid-gap 10px

.SkillsSection-slider-wrapper
  position relative
  padding 0 30px
  & > span
    position absolute
    top -2px
    line-height 1
    font-size 12px
    color var(--main-font-color)
    &:first-of-type
      left 0
    &:last-of-type
      right 0

  .ant-slider
    .ant-slider-rail
      background-color var(--controll-bg-volor)
    &:hover
      .ant-slider-track
        background-color var(--main-border-color)

  .ant-slider-step
    border-radius 2px

  .ant-slider-track
    background-color var(--main-border-color)

  .ant-slider-handle
    border-color var(--main-border-color) !important
    box-shadow none !important

.SkillsSection-skill
  padding 10px 15px
  border 1px solid var(--main-border-color)
  border-radius 4px
  position relative

  & > label
    text-decoration underline

  &:hover
    border-style dashed

.SkillsSection-rm-icon
  position absolute
  cursor pointer
  font-size 12px
  margin-left 15px
  top 10px
  right 15px
  font-size 14px