.ant-btn, .ant-btn:focus
  border-color var(--main-border-color) !important
  background-color var(--controll-bg-volor)

.ant-btn:active
  border-style dashed

[ant-click-animating-without-extra-node]
  &:after
    animation 0s

button[disabled]
  opacity .7