.ant-modal-wrap
  button, .ant-btn-primary
    &:not(.ant-modal-close)
      &:hover
        background-color var(--controll-bg-volor)

.ant-modal-header, .ant-modal-footer
  border-color var(--main-border-color)

.ant-modal-content
  border 1px solid var(--main-border-color)